@font-face {
  font-family: 'Sansation_Bold';
  src: url('Sansation_Bold.ttf')  format('truetype');
  font-weight:bold; /* Safari, Android, iOS */

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  padding:0px;
  margin:0px;
}
.header{
  margin-top:10px;
}

.contactlist{
  float:left;
  display:block;
  list-style:none;
}

.contactlist li {
  padding-right:10px;
  margin-right:10px;
  border-right:1px #dedddd solid;
}

.floatleft{
  float:left;
}
.contactbar-title
{
display: block;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #8f9ba1;
/* text-transform: uppercase; */
text-align: center;
border-right:1px;
font-weight:500;
}

.contactbar-text {
display: inline-block;
text-align: center;
padding: 0 20px;
float: left;
font-family: 'Roboto', sans-serif;
font-weight:bold;
font-size: 16px;
color: #4f4a4a;
line-height: 18px;
}

.blue{
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter:none;
    margin:0px;
    padding:0px;
}

.borderright {
    list-style:none;
    display:
    align-items:center;
}
.borderright > li {
    border-right: 1px #022f5a solid;
    float:left;
    padding:10px;
}

    .container-fluid{
        padding:0px;
        margin:0px;
    }

.bar{
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
    border:1px #999 solid;
    padding:50px 30px 50px 40px ;
}
#bar1{
    background-image:linear-gradient(#04519b, #044687 60%, #033769);
}

.wrapper{
    margin-top:-50px;
}

.arrow{
    display: inline-block;
width: 38px;
height: 38px;
line-height: 34px;
position: absolute;
bottom: -17px;
margin: 0 auto;
left: 0;
right: 0;
background: #fff;
font-size: 20px;
color: #fff;
border-radius: 50%;
text-align: center;
border: 2px #fff solid;

}

.baricon{
  float:left;
  width:40%;
  color:white;
}

.bartitle{
  float:left;
  font-size:20px;
  width:60%;
  padding-left:10px;
  color:white;
}

.obrazki img{
  width:300px;
  height:200px;
  transition:0.4s;
}

.obrazki img:hover{
  transform: scale(1.1);
  box-shadow:0px 0px 10px yellow;
}

.obrazki p{
  font-size:22px;
  font-family:'Sansation_Bold';
  color:blue;
  font-weight:bold;
  color:#23527c;
  text-align:center;
  padding-top:5px;
  transition:0.4s;
}

.obrazki div {

}

.paralax{
  background:url(http://www.studiujnaukrainie.pl/images/cources-bg.jpg);
  height:500px;
  background-color: rgba(0, 0, 0, 0.6);

}

.
